@media (min-width: 935px) {
  #header{
    padding-top: 1em;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 80%;
    margin: auto;
  }
  h1{
    margin: 0;
    font-size: 3em;
  }
  h2{
    margin: 0;
    padding-bottom: 0.5em;
  }
  h4{
    margin-top: 0em;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }
  button{
    width: 40%;
    margin-right: 1em;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    background-color: #FF9505;
    color: black;
    border-radius: 4px;
    margin: 0.2em;
  }
  #description-container{
    border-bottom: 1px solid #e5e7eb;
    padding-top: 2em;
    padding-left: 0em;
  }
  #info-contact{
    padding-left: 3em;
  }
  #photo{
    margin: auto;
  }
  img{
    border-radius: 50%;
  }
  #bio{
    padding-top: 0em;
  }
  #fullstack{
    color: #CC5803;
  }
  #social{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-self: flex-end;
    border-bottom: 1px solid #e5e7eb;
  }
  #my-description{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  ul{
    padding-left: 1em;
    list-style:square;
  }
  #portafolio-header{
    border-top: 1px solid #e5e7eb;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  #proyectos{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-items: auto;
    padding-bottom: 2em;
  }
  .proyecto{
    border-radius: 6px;
    display: block;
    width: 90%;
    margin-bottom: 2em;
    background-color: #fff;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
    justify-self: center;
    padding: 0.2em 0;
  }
  a{
    text-decoration: none;
    color:#EDF2FB;
    font-weight: bold;
  }
  a:visited{
    color: #EDF2FB;
  }
  .redes{
    padding: 1em;
    cursor: pointer;
  }
  
}

/**************************************************************************************************************/

@media (max-width: 934px) {
  #header{
    padding-top: 1em;
    display: grid;
    grid-template-columns: 100%;
    width: 80%;
    margin: auto;
  }
  h1{
    margin: 0;
    font-size: 2.3em;
    text-align: center;
  }
  h2{
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
  }
  h4{
    text-align: center;
    margin: 0em;
  }
  #description-container{
    border-bottom: 1px solid #e5e7eb;
    padding-top: 2em;
    padding-left: 0em;
  }
  #info-contact{
    padding-left: 3em;
  }
  #photo{
    margin: auto;
  }
  #info-contact{
    padding: 0;
  }
  img{
    border-radius: 50%;
  }
  #bio{
    padding-top: 0em;
  }
  #fullstack{
    color: #CC5803;
  }
  #social{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-self: flex-end;
    
  }
  #my-description{
    display: grid;
    grid-template-columns: 100%;
  }
  ul{
    padding-left: 1em;
    list-style:square;
  }
  #portafolio-header{
    border-top: 1px solid #e5e7eb;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  #proyectos{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 100%;
    text-align: center;
    align-items: auto;
    padding-bottom: 2em;
  }
  .proyecto{
    cursor:pointer;
    border-radius: 5px;
    display: block;
    width: 90%;
    margin-bottom: 2em;
    background-color: #fff;
    justify-self: center;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
    padding: 0.2em 0;
  }
  button{
    width: 70%;
    margin-right: 1em;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    background-color: #FF9505;
    color:black;
    border-radius: 4px;
    margin: 0.2em;
  }
  a{
    text-decoration: none;
    color:#EDF2FB;
    font-weight: bold;
  }
  a:visited{
    color: #EDF2FB;
  }
  .redes{
    padding: 1em;
    cursor: pointer;
  }
  
}
.redes{
  border-radius: 0%;
  padding: 0;
  margin: 0.5em 1.3em;
}
h4{
  color:black;
  margin-bottom: 0.5em;
  padding-top: 0.3em;
}

#fullstack{
  color: #FF9505;
}
a:hover{
  cursor: pointer;
}
.descripcion{
  width: 90%;
  margin: 0 auto;
}
.link-proyecto{
  color:black;
}
p{
  font-weight: lighter;
  color: black;
}
.proyecto:hover{
  background-color: #eef4ed;
  transition: 300ms;
}